h1{
    text-align: center;
    font-family:impact;
}
h2{ 
    text-align: center;
}
h5{
    text-align: center;
}
nav{text-align: center;}

header{
    background-color: #70370F;
}
footer{
    background-color: #70370F
}
p{
    text-align: center;
    color: white;
    padding:30px 30px;
}
a{
    text-decoration: none;
}
#orlap{
    color: black;
}
body {
    background-color: #D7B785;
}
*{
    margin: 0;
    padding: 0;
}
div{
    width: 500px; 
    height: 570px;
    background-color:#70370F ;
    margin: 50px auto;
    text-align: center;
    
    
}
ol{display: inline-block}
#h2doroteiro{
    border: 5px solid black;
    border-radius: 50px;
}
